.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.weight-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scroll {
	margin: 5px;
	padding: 4px;
	width: 100px;
	height: 110px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	font-size: 12px;
}

.weight-options {
	display: flex;
	flex-direction: column;
}
